* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  *, *::before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  :focus, :active {
    outline: none;
  }
  
  a:focus, a:active {
    outline: none;
  }
  
  nav, footer, header, aside {
    display: block;
  }
  
  input, button, textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a, a:visited {
    text-decoration: none;
    line-height: 100%;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ul li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
  }

h1, h2, h3, h4, h5, h6 {
    height: 100%;
    line-height: 1;
    padding: 0;
    margin: 0;
    font-weight: 400;
}

body {
    height: 100%;
    line-height: 1;
    font-family: Manrope;
    color: #333;
    font-size: 16px;
}

/* ========================= */

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* ========================= */

.page {
    flex: 1 1 auto;
}

/* ========================= */
._title {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.25;
    margin: 0;
    padding: 0;

    color: #000;
}
/* ========================= */

[class*="__container"] {
    max-width: 1170px;
    margin: 0 auto;
}

@media (max-width: 1199.98px) {
    [class*="__container"] {
        max-width: 970px;
    }
}
@media (max-width: 990.98px) {
    [class*="__container"] {
        max-width: 750px;
    }
}
@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
        padding: 0px 15px;
    }
}

/* ========================= */

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 1;
}
.header__container {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
    min-height: 103px;
    align-items: center;
    padding: 10px 0px;
}



.header__logo {
    font-weight: 800;
    font-size: 23px;
    line-height: 1.34;

    color: #31353B;
}

/* ========================= */

.menu__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 15px;
}

.menu__item {
    color: #000;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.3;
}
.menu__item:hover {
    text-decoration: underline;
}

.menu__link {
    color: #31353B;

    transition: all 0.3s ease 0;
}
@media (max-width: 767.98px) {
    .header__container {
        display: block;
        column-gap: 10px;
        row-gap: 15px;
    }
    .header__logo {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }
    .menu__list {
        justify-content: center;
        row-gap: 5px;
        column-gap: 25px;
    }
    .menu__link {
        font-size: 18px;
    }
}

/* ========================= */
.main__page {
    padding: 0 0 110px 0;
}
.page__container {
    position: relative;
}

.page__container::after {
    content: "";
    background: #BDCCFF;
    position: absolute;
    height: 100%;
    width: 200%;
    top: 0;
    left: 68%;
    
    z-index: -1;

}

.main__content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 184px 0px 0px 0px;
    position: relative;
}

@media (max-width: 767.98px) {
    .main__content {
        text-align: center;
    }
}


/* ========================= */
.main__text-block {
    flex: 0 1 50%;
}

@media (max-width: 990.98px) {
    .main__text-block {
        font-size: 36px;
        flex: 1 1 100%;
    }
}
@media (max-width: 767.98px) {
    .main__text-block {
        font-size: 36px;
        flex: 1 1 100%;
    }
}

@media (min-width: 768px) {
    .main__text-block__text {
        padding-right: 85px;
    }
}
    
.main__subtitle, .main__title, .main__text {
    font-family: inherit;
}

.main__subtitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.26;
    text-transform: uppercase;

    color: #FF9900;
}
.main__title {
    font-weight: 800;
    font-size: 54px;
    line-height: 1.35;

    padding: 35px 0;

    color: #000;
}
.main__text {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.35;
    letter-spacing: 0.01em;

    padding: 0 0 60px 0;

}

@media (max-width: 767.98px) {
    .main__title {
        font-size: 36px;
    }
}
/* ========================= */

.main__slider-block {
    flex: 0 1 50%;
    min-width: 0;
}

@media (max-width: 990.98px) {
    .main__slider-block {
        font-size: 36px;
        flex: 1 1 100%;
        margin: 20px 0;
    }
}

.main__slider-block__slide {
    position: relative;
    padding-bottom: 95%;
}

.main__slider-block__slide img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main__text-block__arrows {
    position: absolute;
    bottom: -52px;
    right: 0;
    display: flex;
    align-items: center;
    gap: 40px;
}

@media (max-width: 1199.98px) {
    .main__text-block__arrows {
        bottom: 30px;
    }
}

.main__text-block__arrow.swiper-button-prev,
.main__text-block__arrow.swiper-button-next {
    position: static;
    height: 20px;
    width: 11px;
    background: url(../img/icons/arrow.svg) 0 0 / 100% no-repeat;
}

.main__text-block__arrow::after {
    display: none;
}

.main__text-block__arrow.swiper-button-prev {
    transform: rotate(-180deg);
}

/* .swiper-button-prev {
}
.swiper-button-next {
} */

/* ========================= */

.main__form-block {
    position: relative;
    z-index: 2;
    display: flex;
    /* margin-right: -188px; */
    height: 86px;
    background-color: #fff;
    background: url("../RealEstate/img/main/home.svg") 33px 50% no-repeat;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-block__input {
    padding: 0 0 0 74px;
    background-color: transparent;

    flex: 1 1 auto;
    border: 1px solid #DADADA;
    font-size: 20px;
}



.form-block__input::placeholder {
    color: rgba(63, 61, 75, 0.3);
}

.form-block__input:focus {
    border: 1px solid #333;
}

.form-block__button {
    cursor: pointer;
    background-color: #F85A47;
    width: 100%;
    padding: 5px 15px;
    flex: 0 0 20%;

    font-weight: 700;
    font-size: 17px;
    line-height: 1.35;
    letter-spacing: 0.01em;

    color: #fff;

    transition: all 0.3s ease 0s;
}

.form-block__button:hover {
    background-color: rgba(248, 89, 71, 0.8);
    color: rgb(255, 214, 167);
}



@media (max-width: 1190.98px) {
    .main__form-block {
        width: 100%;
    }
}
@media (max-width: 767.98px) {
    .main__form-block {
        width: 100%;
        height: 56px;
    }
    .form-block__input {
        width: 100%;
    }
}
@media (min-width: 768px) {

    .form-block__button {
        width: 188px;
        flex: 0 0 188px;
        
    }
    .main__form-block {
        margin-right: -188px;
    }
}

/* ========================= */

.partners-block__title {
    padding: 25px 0;
}
.partners-block__logo {
    display: flex;
    row-gap: 15px;
    column-gap: 50px;
    flex-wrap: wrap;
}

@media (max-width: 767.98px) {
    .partners-block__logo {
    justify-content: center;
    }
    .partners-block__title {
        text-align: center;
    }
}


/* ==================HOW-IT-WORKS_BLOCK-START================================== */

.how-it-works__page {
    padding: 110px 0;
}
.how-it-works__page__container {
}

.how-it-works__body {
}

.how-it-works__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.375;
    text-align: center;
    padding-bottom: 70px;

    color: #000;
}

.how-it-works__items-block {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 260px));
    gap: 30px;
    justify-content: space-between;
}

@media (min-width: 991px) {
    .how-it-works__items-block {
        padding: 0 35px;
    }
}

.how-it-works__item {
}
.how__item {

}

.how__item-icon {
    width: 90px;
    height: 90px;
    border-radius: 25%;
    display: block;
    margin: 0 auto;
}

.how__item-icon img {
    display: block;
    margin: 0 auto;
    padding: 32px 0;
}

.how__item-icon.icon__purple {
    background-color: #9672FF;
}
.how__item-icon.icon__green {
    background-color: #4DDFFD;
    position: relative;
}
.how__item-icon.icon__pink {
    background-color: #F2B8EC;
}

.how__item-icon.icon__green::after, .how__item-icon.icon__green::before {
    content: "";
    position: absolute;
    height: 11px;
    width: 210px;

    z-index: 10;
}

.how__item-icon.icon__green::after {
    background: url(/img/how-it-works/after.svg) 0 0/ 100% no-repeat;

    top: 40%;
    left: 170%;
}
.how__item-icon.icon__green::before {
    background: url(/img/how-it-works/before.svg) 0 0/ 100% no-repeat;

    top: 40%;
    right: 170%;
}

@media (max-width: 1199.98px) {
    .how__item-icon.icon__green::after {
        width: 170px;
        left: 135%;
    }
    .how__item-icon.icon__green::before {
        width: 170px;
        right: 135%;
    }
}
@media (max-width: 990.98px) {
    .how__item-icon.icon__green::after {
        width: 110px;
        left: 133%;
    }
    .how__item-icon.icon__green::before {
        width: 110px;
        right: 133%;
    }
}
@media (max-width: 767.98px) {
    .how__item-icon.icon__green::after {
        width: 100px;
        left: 123%;
    }
    .how__item-icon.icon__green::before {
        width: 100px;
        right: 123%;
    }
}
@media (max-width: 766.98px) {
    .how-it-works__items-block {
        grid-template-columns: 1fr;
    }
    .how__item-icon.icon__green::after {
        display: none;
    }
    .how__item-icon.icon__green::before {
        display: none;
    }
}

.how__item-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.36;
    text-align: center;

    padding: 50px 0 15px 0;

    color: #000;
}
.how__item-text {
    font-size: 16px;
    line-height: 1.62;
    text-align: center;

    color: #333;
}

/* ==================HOW-IT-WORKS_BLOCK-END================================== */


/* ==================BEST-DEALS-START================================== */

.best-deals__page {
}
.best-deals__container {
}
.best-deals {
    padding-bottom: 120px;
}

/* =================================================== */

.best-deals__header-body {
   margin-bottom: 10px;
}

@media (min-width: 767.98px) {
    .best-deals__header-body {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0px;
    }
}

.best-deals__text-block {
    padding-bottom: 50px;
    flex: 1 1 auto;
}

.best-deals__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    max-width: 470px;

    color: #000;
}
.best-deals__button {
    display: inline-block;
    font-weight: 500;
    font-size: 17px;
    line-height: 1;
    text-align: center;
    color: #fff;
    cursor: pointer;

    background: #F85A47;
    padding: 22px 33px;
    border-radius: 5px;

    max-height: 65px;

    transition: all 0.3s ease 0s;
}

.best-deals__button:hover {
    background: rgba(248, 89, 71, 0.8);
    color: rgb(44, 17, 17);
}

/* ================================================= */


.best-deals__tabs {
    padding: 0 0 45px 0;
}
.best-deals__tab-nav {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
}
.best-deals__tabs-button {
    position: relative;
    display: block;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.2;
    background-color: transparent;
    padding: 1px;

    transition: color 0.3s ease;
}
.best-deals__tabs-button:hover,
.best-deals__tabs-button._active {
    color: #F85A47;
}
.best-deals__tabs-button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    transition: all 0.3s ease 0s;
    background: #F85A47;
}

.best-deals__tabs-button::after._active {
    
}

.best-deals__tabs-button:hover:after, .best-deals__tabs-button:focus:after {
    width: 100%;
}

.best-deals__tabs-body {
}

.best-deals__tabs-block {
    display: none;
}

.best-deals__tabs-block._active {
    display: block;
}

.tabs__items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    column-gap: 30px;
    row-gap: 10px;
}
.tabs__item {
    position: relative;


}


.tabs__options {
    position: absolute;
    top: 14px;
    left: 14px;
    overflow: hidden;
    z-index: 2;


}
.tabs__option {
    display: inline-block;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 12px;
    line-height: 1;
    padding: 6px 12px;

    transition: all 0.3s ease;
}

.tabs__option.ddd {
    padding: 6px 6px;
}

.tabs__option:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.tabs__image {
    position: relative;
    padding: 0 0 81% 0;
    overflow: hidden;
}


.tabs__image-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: scale 0.3s ease 0s;
}
.tabs__image-item:hover {
    scale: 1.05;

}
/* ==================BEST-DEALS-END================================== */

/* ==================BOOKING-START================================== */

.booking__page {
    padding-bottom: 200px;
}

@media (max-width: 767.98px) {
    .booking__page {
        padding-bottom: 50px;
    }
}

.booking__container {
}
.booking__body {
    padding-top: 120px;
}

.booking__title {
    text-align: center;
    padding-bottom: 95px;
}

@media (max-width: 767.98px) {
    .booking__body {
        padding-top: 40px;
    }
    .booking__title {
        padding-bottom: 35px;
    }
}
.booking__content {
    display: grid;
    gap: 77px;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px 40px 0px 40px;

    background: #F1FFFF;
}

@media (max-width: 990.98px) {
    .booking__content {
        display: block;
        padding: 15px 15px 30px 15px;
    }

}

.booking__images-item {
    display: grid;
    justify-items: center;

}
.booking__images-item img {
    max-width: 100%;
}

.booking__images-item_mini {
    transform: translate(0, -40%);
    margin: 0px 20px;
    filter: drop-shadow(0px 163px 80px rgba(0, 0, 0, 0.04)) drop-shadow(0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704)) drop-shadow(0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963)) drop-shadow(0px 32.6px 13px rgba(0, 0, 0, 0.02)) drop-shadow(0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037)) drop-shadow(0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963)) drop-shadow(48px 58px 44px rgba(0, 0, 0, 0.09));
}


.booking__text-block {
    margin: 0 auto;
    max-width: 415px;
}
.booking__text-title {
    font-weight: 600;
    font-size: 31px;
    line-height: 1.35;
    color: #000;

    padding: 43px 0px 28px 0px;
}
.booking__text {
    font-style: 16px;
    line-height: 1.5;

    max-width: 345px;
}
.booking__property-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 37px;

    padding: 42px 0px 54px 0px;
}
.booking__property-item {
}
.item-property {
    display: flex;
    row-gap: 12px;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 33.33%;


    
}

.item-property__title {
    font-weight: 700;
    font-size: 17px;
    line-height: 1.35;
}
.item-property__value {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.35;
}

@media (max-width: 767.98px) {
    .item-property__title, .item-property__value {
        font-size: 12px;
    }
}

.booking__button {
    display: block;

    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    color: #fff;

    background: #F85A47;
    box-shadow: 0px 100px 80px rgba(248, 90, 71, 0.07), 0px 64.8148px 46.8519px rgba(248, 90, 71, 0.0531481), 0px 38.5185px 25.4815px rgba(248, 90, 71, 0.0425185), 0px 20px 13px rgba(248, 90, 71, 0.035), 0px 8.14815px 6.51852px rgba(248, 90, 71, 0.0274815), 0px 1.85185px 3.14815px rgba(248, 90, 71, 0.0168519);
    border-radius: 5px;

    padding: 16px 38px;

    transition: all 0.3s ease 0s;
}

.booking__button:hover {
    background: rgba(248, 89, 71, 0.8);
    color: rgb(44, 17, 17);
}



/* ==================BOOKING-END================================== */

/* ==================REVIEWS-START================================== */

.reviews__page {
    padding-bottom: 210px;
}

@media (max-width: 990.98px) {
    .reviews__page {
        padding-bottom: 70px;
    }
}

/* ===================== */

.reviews__title {
    max-width: 570px;
}

/* ===================== */


.reviews__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 30px;
    row-gap: 15px;
    justify-content: center;

    margin-top: 51px;

}

.reviews__item {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, auto));

    color: inherit;

    border: 1px solid #EBEBEB;
    border-radius: 10px;
    box-sizing: border-box;

    padding: 50px 72px 52px 38px;

    transition: all 0.3s ease 0s;
}

.reviews__item:hover {
    box-shadow: 0 4px 12px rgba(0,0,0,0.2), 0 16px 20px rgba(0,0,0,0.2);
}

@media (max-width: 767.98px) {
    .reviews__item {
        padding: 15px 10px 15px 10px;
    }
}


.rating {
    display: flex;
    align-items: flex-end;
    font-size: 40px;
    line-height: 0.75;

    padding-bottom: 35px;

    transition: opacity 0.3s ease 0s;
}

.rating.rating_sending {
    opacity: 0.2;
}

.rating.rating_set .rating__active,
.rating.rating_set .rating__item{
    cursor: pointer;
}   

.rating-body {
    position: relative;
}

.rating-body::before {
    content: "★★★★★";
    display: block;

}

.rating__active {
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: 0;
    overflow: hidden;

}

.rating__active::before {
    content: "★★★★★";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #FBB040;
}

.rating__items {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}
.rating__item {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
}
.rating__value {
    font-size: 50%;
    line-height: 1;
    padding-left: 10px;
}

.reviews__text {
    font-size: 16px;
    line-height: 1.75;
}
.reviews__user {

    position: relative;

        
    padding: 0px 0px 0px 70px;
    margin-top: 20px;
}

.reviews__user::before {
    content: "";
    position: absolute;
    background-image: url(/img/reviews/avatars/1.svg);
    top: -40%;
    left: 0;
    width: 48px;
    height: 48px;

    z-index: 10px;
}

.user__name {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.38;
}
.user__location {
    font-size: 14px;
    line-height: 1.36;
    font-weight: normal;
}

/* ===================== */
.reviews__footer {
    display: flex;
    justify-content: space-around;
    column-gap: 50px;

    padding-top: 85px;
}
.reviews-partners__block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 30px;
    row-gap: 15px;


}

@media (min-width: 1200px) {
    .reviews-partners__block {
        padding-top: 20px;
    }
}

.call-us__block {
    max-width: 370px;
}

.call-us__block a {
    color: #2CBDE7;

    text-decoration: underline;
    font-size: 16px;
    line-height: 1.5;
}

/* ==================REVIEWS-END================================== */
/* ==================NEWSLETTER-START================================== */

.newsletter__page {
    background: #FBFCFC;
    padding-bottom: 160px;
    padding-top: 210px;
}
.newsletter__container {
}
.newsletter__title {
    padding: 160px 0px 10px 0px;
}


.newsletter__title, .newsletter__sub-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 1.442;
    color: #31353B;
    text-align: center;
    letter-spacing: 0.02em;
}
.newsletter__sub-title {
    font-size: 23px;
}
.newsletter__form-block {
    display: flex;      
    position: relative;
    max-width: 686px;
    max-height: 124px;

    background-color: #fff;

    box-shadow: 0 20px 50px rgba(0,0,0,0.2), 0 40px 100px rgba(0,0,0,0.2);

    padding: 26px 0px 26px 0px;
    margin: 34px auto 0px auto;
}

.newsletter__form-block::after {
    content: "Type your Email Address";
    position: absolute;
    display: block;
    top: 20px;
    left: 45px;

    font-weight: 500;
    font-size: 17px;
    line-height: 144.2%;
    /* identical to box height, or 25px */

    letter-spacing: 0.02em;

    color: #31353B;
    opacity: 0.2;

    z-index: 100;
}

.newsletter__form-block_input {
    flex: 1 1 auto;
    /* position: relative;

    font-weight: 700;
    font-size: 20px;
    line-height: 144.2%;
    color: #31353B;

    letter-spacing: 0.02em; */

    padding: 0px 0px 0px 45px;
}

.newsletter__form-block_button {
    flex-direction: 0 0 20%;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.442;

    letter-spacing: 0.02em;

    color: #FFFFFF;

    background-color: rgb(248, 90, 71);

    filter: drop-shadow(0px 8px 24px rgba(248, 90, 71, 0.45));

    max-width: 167px;
    max-height: 72px;

    padding: 23px 40px;
    margin-right: 20px;

    transition: all 0.3s ease 0s;
}

@media (max-width: 767.98px) {
    .newsletter__form-block_button {
        cursor: pointer;
        padding: 10px 20px;
        margin-top: 17px;

        line-height: 1;
    }
    .newsletter__form-block_input {
        margin-top: 15px;
    }
}

.newsletter__form-block_button:hover {
    background-color: rgb(248, 90, 71, 0.8);
    color: #000;
}



/* ==================NEWSLETTER-END================================== */

/* ==================FOOTER-START================================== */

.footer {
    background: #FBFCFC;
}

.footer__container {
    position: relative;
}

.footer__container::after {
    content: " ";
    position: absolute;
    display: block;
    top: 0;
    /* left: 12%; */
    left: 0%;
    /* width: 76%; */
    width: 100%;
    height: 2px;
    background: #DEDFE1;
    /* border-top: 1px solid #DEDFE1; */

    margin: 0 auto;

    z-index: 20;
}
.footer__copyright-block {

    display: block;

        /* TEXT */
    font-weight: 700;
    font-size: 12px;
    line-height: 1.33;
    text-align: center;


    color: #31353B;

    margin-bottom: 36px;
    }

/* ==================FOOTER-END================================== */


